.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 1rem;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
}

.login-container input:focus {
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 0.7rem;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:active {
    background-color: rgb(175, 45, 120);
    border: none;
}

.login-container button:focus {
    outline: none;
}